@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif; 
    text-align: center;
}
.header1{
    margin-top: 5%;
}
.description{
    font-size:18px;
}
img{
    width: 50%;
    height: 40%;
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.box1{
    padding: 8% 8%;
}
.blue{
    color: #319cea;
    background-color: #319cea;
}
.green{
    color:#3ed319;
    background-color:#3ed319 ;
}
.voilet{
    color:#ba31ea;
    background-color: #ba31ea;
}
.box2{
    padding:7.3% 7.3% ;
    color:white;
}
.bborder{
    border:5px solid #1fa7f4;
}
.gborder{
    border:5px solid #3ed319 ;
}
.vborder{
    border:5px solid #ba31ea;
}
.content-text{
    border:3px solid #1fa7f4;
    width:30%;
    height: 10%;
    padding:1%;
    font-size:15px;
    flex-basis:25%;
}
.foot {
    position: fixed;
    bottom: 18px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 42px;
    background-color: #1fa7f4;
}



